.selectContainer {
  margin-bottom: 15px;
}

.selectContainer label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.selectContainer select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: black;
}
